.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial", "sans-serif";
}
nav {
  box-shadow: 0 3px 3px -3px #333;
}

.logo {
  height: 100%;
}

input[type="text"], input[type="search"], textarea {
  background-color : white;
}

.text-xxl {
  font-size: 12em;
  line-height: 180px;
}

#inner {
  top: 25%;
  left: 25%;
  height: 10em;
}
